.venv
sql/*.dump
sql/*.dump.bz2
.env
.git
.github
.gitignore
.pytest_cache
compose.yml
Dockerfile
etc
benchmarker
infra
manual.md
provisioning
README-private-isu.md
README.md
tests
mcp-server
__azurite_db*__.json
__blobstorage__/
__queuestorage__/
AzuriteConfig
