[Unit]
Description=isu-python
After=syslog.target postgresql.service

[Service]
WorkingDirectory=/home/isucon/private_isu
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/private_isu/script/server
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
