#cloud-config
package_update: true
timezone: Asia/Tokyo
packages:
  - ansible-core
  - curl
  - git
  - unzip
  - wget
runcmd:
  - |
    set -e
    rm -rf /tmp/private-isu
    git clone --depth=1 https://github.com/koudaiii/ai-tour-for-partner-2026-track4-session1.git /tmp/private-isu
    cd /tmp/private-isu/provisioning/
    sed -i 's/isu-app/localhost ansible_connection=local/' hosts
    ansible-playbook -i hosts image/ansible/playbooks.yml
